[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"


[packages]

requests = "*"
lxml = "*"
"beautifulsoup4" = "*"
"pysc2" = "*"
baselines = "*"


[requires]
python_version = "3.6"
